<h1>Book Event</h1>
<div class="container">
    {{#if event}}
    <div class="card card-body">
        <form action="" method="post">
            <div class="row mb-3">
                <div class="col-lg-9">
                    <div class="form-group">
                        <label class="font-italic" for="name">{{ name }}</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{{/if}}