<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="card card-body">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid" src="/img/consumer.jpg" style="height:100%; object-fit: cover">
        </div>
        <div class="col-md-6 p-3">
            <h3>Hotel? Hovago.</h3>
            <p>
              Whether you're looking to book a staycation or attend an event to connect with new people, it all starts
              at Hovago.
            </p>
            <p>
              Book hotel rooms, event tickets and more, then redeem them on Hovago, all on one site.
            </p>
            <a href="#" class="btn btn-info btn-block my-2">View Latest Promotions</a>
        </div>
      </div>
    </div>
  </div>
</div>
