<div class="row">
	<div class="col-md-12 mx-auto">
		<div class="card card-body">
			<div class="row">
				<div class="col-md-6">
					<img class="img-fluid" src="/img/user/login-image.jpg" style="height:100%; object-fit: cover">
				</div>
				<div class="col-md-6">
					<h3 class="text-center">Account Login</h3>
					<form method="post" action="">
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" name="email" class="form-control" required>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" name="password" class="form-control" required>
						</div>
						<button type="submit" class="btn btn-primary btn-block">Login</button>
					</form>
					<a href="/user/forgot" class="btn btn-outline-secondary btn-block my-2">Forgot Password</a>
					<p class="text-center pt-2">New to Hovago?</p>
					<a href="/user/register" class="btn btn-info btn-block my-2">Register Account</a>
				</div>
			</div>
		</div>
	</div>
</div>