<div class="container">
    <div class="card card-body">
        <h3><u>Room Details</u></h3>
        <form action="" method="post">
            <div class="row mb-3">
                <div class="col-lg-9">

                    <div class="form-group">
                        {{!-- Room Name --}}
                        <label class="font-italic" for="roomName">Room Name</label>
                        <input class="form-control mb-1" id="roomName" name="roomName" onblur="initialiseTitle()"/>
                        <span class="text-danger ml-2" id="OMdbErr" style="display:none">Unavailable</span>
                    </div>

                    {{!--Room Description--}}
                    <div class="form-group">
                        <label class="font-italic" for="roomDesc">Room Description</label>
                        <textarea class="form-control" id="roomDesc" name="roomDesc" rows="6"
                                  maxlength="2000"></textarea>
                    </div>

                    {{!--Room Price--}}
                    <div class="form-group">
                        <label class="font-italic" for="roomPrice">Room Price</label>
                        <input class="form-control" id="roomPrice" name="roomPrice" type="number"/>
                    </div>

                    {{!--Room Image--}}
                    <div class="col-lg-3">
                        <div class="custom-file mb-2">
                            <input type="file" class="custom-file-input" id="posterUpload" name="posterUpload"
                                   accept="image/png,image/jpeg,image/jpg,image/gif">
                            <label class="custom-file-label" for="customFile">Choose File</label>
                        </div>
                        <div class="text-danger small mb-2" id="posterErr" style="display:none"></div>
                        <img id="poster" src="/img/no-image.jpg" alt="Poster" class="border img-thumbnail img-fluid">
                        {{!—- Hidden field to submit URL of poster to the server --}}
                        <input id="posterURL" type="hidden" name="logoURL">
                    </div>
                    <br>

                    <button id="btnSubmit" type="submit" class="btn btn-primary">Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>